<header>
	<div class="navbar navbar-fixed-top">  
      <div class="navbar-inner">  
        <div class="container-fluid">  
    <!--   <img alt="logo" src="ull.jpg" /> --> 
          <div class="nav-collapse">  
            <ul class="nav">  
				<li class="active"><a href="#">Home</a></li>  
				 <li><%= link_to "Home",    root_path %></li>
          		<li><%= link_to "Help",    help_path %></li>
            </ul>  
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>  
          </div><!--/.nav-collapse -->  
        </div>  
      </div>  
    </div>  
</header>
 