body {
    background: #0099FF;
    background-position: center;

}
#Main{
   width: 1024px;
   height: 640px;

}
#Form{
   margin-top: 1em;
   margin-left: 20em;
   
}
#Logo{

   margin-top: 10em;
   margin-left: 15em;

}
