body {
    background: #0099FF;
    background-position: center;

}
#Main{
   width: 1024px;
   height: 640px;
}
#Form{
   margin-top: 1em;
   margin-left: 20em;
   
}
#Logo{

   margin-top: 4em;
   margin-left: 15em;
}

h1 {
   font-family: Georgia, "Times New Roman",  Sans-serif;
   font-size: 35pt;
   color: #0033FF;
   text-align: center;
}

